<h1>New exercise</h1>

<%= error_messages_for :exercise %>

<% form_for(:exercise, :url => exercises_path) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>

<%= link_to 'Back', exercises_path %>