<h1>New activity</h1> 

<%= error_messages_for :activity %> 

<% form_for(:activity, :url => activities_path(@workout)) do |f| %> 
  <%= render :partial => 'form', :locals => {:f => f} %> 
<% end %> 

<%= link_to 'Back', workout_path(@workout) %> 
