<p><label for="goal_name">Name of the Goal:</label><br /> 
  <%= f.text_field :name %></p> 

<p><label for="goal_value">Goal to Reach:</label><br /> 
  <%= f.text_field :value %></p> 

<p><label for="goal_last">Current Result:</label><br /> 
  <%= f.text_field :last %></p> 

<p><%= submit_tag "Save" %></p> 
