<h1>New goal</h1> 

<%= error_messages_for :goal %> 

<% form_for(:goal, :url => goals_path) do |f| %> 
    <%= render :partial => 'form', :locals => {:f => f} %> 
<% end %> 

<%= link_to 'Back', goals_path %> 
